services:
  - type: web
    name: sonex-music-bot
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: NODE_ENV
        value: production
      - key: BOT_TOKEN
        sync: false
    healthCheckPath: /health
    autoDeploy: true
